server {
  listen 80;
  server_name ${DOMAIN_NAME};

  location /hello {
    default_type text/plain;
    return 200 'Hello, World!';
  }
}

server {
  listen 80;
  server_name n8n.${DOMAIN_NAME}; # this DNS record needs to be created manually

  location / {
    proxy_pass http://n8n:5678;
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
